<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.3.1" targetFramework="net472" />
  <package id="McSherry.SemanticVersioning" version="1.2.0" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite" version="7.0.4" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite.Core" version="7.0.4" targetFramework="net472" />
  <package id="QuikGraph" version="2.5.0" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.4" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.1.4" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.4" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Triamec.Common" version="7.3.12" targetFramework="net472" />
  <package id="Triamec.Tam.Core" version="19.0.0" targetFramework="net472" />
  <package id="Triamec.Tam.Simulation" version="7.4.0" targetFramework="net472" />
  <package id="Triamec.Tam.TriaLink" version="7.23.0" targetFramework="net472" />
  <package id="Triamec.Tam.TriaLink.Usb" version="7.23.0" targetFramework="net472" />
</packages>